:root {
    --marine-blue: hsl(213, 96%, 18%);
    --white: hsl(0, 0%, 100%);
    --magnolia: hsl(217, 100%, 97%);
    --alabaster: hsl(231, 100%, 99%);
    --purplish-blue: hsl(243, 100%, 62%);
    --pastel-blue: hsl(228, 100%, 84%);
    --lightblue: hsl(206, 94%, 87%);
    --strawberry-red: hsl(354, 84%, 57%);
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: var(--marine-blue);
}

h1 {
    color: var(--marine-blue);
    padding-top: 50px;
    font-weight: 700;
}

p {
    font-size: 16px;
}


/* beginning of sidebar */

.sidebar {
    display: block;
    height: 100vh;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 13px;
    background-image: url("assets/images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
}

.num-step {
    display: flex;
    margin-top: 30px;
}

#current-page {
    background-color: var(--pastel-blue);
    border: 0;
    color: var(--black);
}

.step-number {
    margin-right: 25px;
    border: 1px solid var(--white);
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
}

.step {
    font-size: 13px;
    color: var(--white);
    opacity: .5;
}


/* end of sidebar */


/* beginning of content layout */

.content {
    display: block;
    margin: 0 20% 0 0;
}

.content-heading {
    margin: 50px 0;
}


/* form begins */

.form-input-container {
    margin-top: 30px;
}

label {
    color: var(--marine-blue);
}

input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 15px;
    color: var(--marine-blue);
    background-color: transparent;
}

.next-btn {
    float: right;
    background-color: var(--marine-blue);
    color: var(--white);
    font-size: 13px;
    width: 100px;
    height: 40px;
}

.next-btn:hover {
    background-color: var(--marine-blue);
    color: var(--white);
    box-shadow: 2px 3px 5px var(--black);
    transition: all ease .3s;
}


/* form ends */


/* end of content */


/* step 2 */

.billing-cards {
    /* justify-content: space-between; */
    /* height: 350px; */
}

.card-title {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    text-align: center;
    margin-bottom: 70px;
}

p.card-text {
    font-weight: bold;
}

.muted-price {
    font-weight: 400;
}

.arcade-icon {
    background-color: rgb(230, 166, 49);
    padding-top: 9px;
}

.advanced-icon {
    background-color: rgb(242, 90, 116);
    padding-top: 11px;
}

.pro-icon {
    background-color: var(--purplish-blue);
    padding-top: 10px;
}


/* togglebox styles */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* mobile view */


/* step 1 */

@media (max-width: 992px) {
    * {
        overflow-x: hidden;
    }
    body {
        background-color: var(--magnolia);
        overflow-y: visible;
        overflow-x: hidden;
    }
    .sidebar-container {
        position: relative;
        z-index: 0;
        margin-bottom: -125px;
    }
    .sidebar {
        display: flex;
        position: relative;
        justify-content: center;
        font-size: 13px;
        background-image: url("assets/images/bg-sidebar-mobile.svg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        margin: -30px 0 0 0;
        overflow-x: hidden;
        z-index: 1;
    }
    .num-step {
        margin: 50px 0;
        text-align: center;
    }
    .step-number {
        margin: 0;
    }
    .step-info {
        display: none;
    }
    /* content */
    .content {
        position: relative;
        margin: 0 5% 100px;
        z-index: 2;
        background-color: var(--white);
        border-radius: 15px;
    }
    .content-heading {
        margin-bottom: 15px;
    }
    .content-padding {
        margin: -80px 5% 20px;
    }
    #name {
        margin-top: 0;
    }
    /* step two */
    .card-body {
        display: flex;
    }
    .billing-cards {
        margin-bottom: 15px;
    }
    .card-title {
        margin-right: 20px;
        margin-bottom: 0;
    }
}